<mat-sidenav-container class="h-screen" autosize>
  <!-- Sidebar -->
  <mat-sidenav #drawer mode="side" opened="true" id="side-bar">
    <img src="/logo_blanco.webp" alt="logo de AaronJ Solution" class="w-52" />
    <div class="mt-1">
      <nav class="sidebar-nav">
        @for (route of routes(); track route.name) {
        <a [routerLink]="route.route" class="nav-item">
          <mat-icon class="nav-icon" [fontIcon]="route.icon"></mat-icon>
          <span class="nav-text">{{ route.name }}</span>
        </a>
        }
      </nav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content id="container-body">
    <div class="flex flex-row justify-between items-center mr-7">
      <mat-toolbar id="toolbar-continar">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="ml-2">Mi Aplicación</span>
      </mat-toolbar>
      <p>hola</p>
    </div>

    <div class="px-2">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
