<mat-sidenav-container class="h-screen" autosize>
  <!-- Sidebar -->
  <mat-sidenav #drawer mode="side" opened="true" id="side-bar">
    <img src="/logo_blanco.webp" alt="logo de AaronJ Solution" class="w-52" />
    <div class="mt-5">
      <mat-list>
        <mat-list-item id="list-items">Inicio</mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content id="container-body">
    <div class="flex flex-row justify-between items-center mr-7">
      <mat-toolbar id="toolbar-continar">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="ml-2">Mi Aplicación</span>
      </mat-toolbar>
      <p>hola</p>
    </div>

    <div class="p-6">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
